<div class="container">
  <button class="btn btn-primary my-3" [routerLink]="['/user', 0]">
    Add User
  </button>
  <table class="table table-striped my-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Track</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.track }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-success mx-3" [routerLink]="['/user', user.id]">
            Edit
          </button>
          <button class="btn btn-danger mx-3" (click)="deleteUser(user.id)">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
